// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$brand:             #E90000;
$dark:              darken($brand, 10%);

$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace !important;
$font-family-serif: Arial, Verdana, sans-serif;
$body-font-family: Verdana, Arial, sans-serif;
$primary-color: #E60004 !important;
